<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Units of Measure</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>F</string>
		<key>Key</key>
		<string>Unit</string>
		<key>Title</key>
		<string>Units of Measure</string>
		<key>Titles</key>
		<array>
			<string>Farenheit Â°F</string>
			<string>Celcius Â°C</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>F</string>
			<string>C</string>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>LocId</string>
		<key>Title</key>
		<string>US Postal Code</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
