/* ***** BEGIN LICENSE BLOCK *****
Copyright 2010 CZ.NIC, z.s.p.o.

This file is part of DNSSEC Validator Add-on.

DNSSEC Validator Add-on is free software: you can redistribute it and/or
modify it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

DNSSEC Validator Add-on is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along with
DNSSEC Validator Add-on.  If not, see <http://www.gnu.org/licenses/>.
***** END LICENSE BLOCK ***** */

/* Temp button */
#dnssec-toolbar-button {
  list-style-image: url("chrome://dnssec/skin/key.png");
  -moz-image-region: rect(0px, 35px, 20px, 0px);
}

/* DNSSEC icons stack */
/*
#dnssec-icons-stack {
  -moz-margin-start: 0px;

  width: 43px;
  height: 20px;
  padding: 0px 4px;
  background: url(chrome://dnssec/skin/urlbar-button.png) center center no-repeat;
}
*/


/* Favicon */
#dnssec-icon {
  width: 39px;
  height: 20px;
  padding: 0px 2px;
/*  max-height: 20px; */
  list-style-image: url("chrome://dnssec/skin/key.png"); /* 35x20 */
  -moz-image-region: rect(0px, 35px, 20px, 0px);
}


/* DNSSEC indicator */
#dnssec-outerbox {
  -moz-box-align: center;
}

#dnssec-box {
  background-color: -moz-dialog; /* grey */
  color: -moz-dialogtext; /* black */
/*  -moz-border-end: 1px solid ThreeDShadow; */
/*  max-height: 20px; */
}

#dnssec-box:focus {
  outline: 1px dotted -moz-DialogText;
}

#dnssec-box.securedConnectionDomainInvIPaddr,
#dnssec-box.validDomainSignatureInvIPaddr,
#dnssec-box.securedConnectionInvSigDomain,
#dnssec-box.invalidDomainSignature,
#dnssec-box.invalidDomainSignatureInvIPaddr {
  background-color: rgba(238, 46, 36, 1.0); /* red */
  color: white;
}

#dnssec-box.validDomainSignature {
  background-color: rgba(238, 142, 40, 1.0); /* orange */
  color: white;
}

#dnssec-box.securedConnectionDomain,
#dnssec-box.securedConnectionNoDomain {
  background-color: rgba(110, 180, 63, 1.0); /* green */
  color: white;
}

/*
#dnssec-box:hover {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
}
*/


/* DNSSEC popup images */
#dnssec-popup-icon {
/*
  height: 64px;
  width: 64px;
  padding: 0;
  list-style-image: url("chrome://browser/skin/identity.png");
  -moz-image-region: rect(0px, 64px, 64px, 0px);
*/
  height: 38px;
  width: 130px;
  padding: 0;
/*  list-style-image: url("chrome://dnssec/skin/dnssec_unsecured_red.png");*/
/*  -moz-image-region: rect(0px 40px 40px 0px); */

/*  background-color: #4c69bc; */
}

/* orange */
#dnssec-popup.validDomainSignature > #dnssec-popup-container > #dnssec-popup-icon {
  list-style-image: url("chrome://dnssec/skin/logo.png");
  -moz-image-region: rect(0px, 390px, 38px, 260px);
}

/* red */
#dnssec-popup.securedConnectionDomainInvIPaddr > #dnssec-popup-container > #dnssec-popup-icon,
#dnssec-popup.securedConnectionInvSigDomain > #dnssec-popup-container > #dnssec-popup-icon,
#dnssec-popup.invalidDomainSignature > #dnssec-popup-container > #dnssec-popup-icon,
#dnssec-popup.validDomainSignatureInvIPaddr > #dnssec-popup-container > #dnssec-popup-icon,
#dnssec-popup.invalidDomainSignatureInvIPaddr > #dnssec-popup-container > #dnssec-popup-icon {
  list-style-image: url("chrome://dnssec/skin/logo.png");
  -moz-image-region: rect(0px, 260px, 38px, 130px);
}

/* green */
#dnssec-popup.securedConnectionDomain > #dnssec-popup-container > #dnssec-popup-icon,
#dnssec-popup.securedConnectionNoDomain > #dnssec-popup-container > #dnssec-popup-icon {
  list-style-image: url("chrome://dnssec/skin/logo.png");
  -moz-image-region: rect(0px, 130px, 38px, 0px);
}


/* DNSSEC popup body text */
#dnssec-popup-content-box > label,
#dnssec-popup-content-box > description {
  white-space: pre-wrap;
  padding-left: 15px;
  margin: 0px;
}

#dnssec-popup-securedLabel,
#dnssec-popup-unsecuredLabel {
  font-weight: bold;
  max-width: 300px;
  font-size: 140%;
  display: none;
}

#dnssec-popup-domainLabel,
#dnssec-popup-nodomainLabel {
  display: none;
}

#dnssec-popup-content-host {
  font-weight: bold;
  max-width: 300px;
}


/* DNSSEC popup bounding box */
#dnssec-popup-container {
  background-image: none;
  min-width: 280px;
  padding: 10px;
}


/* DNSSEC popup UI */
#dnssec-popup-content-box.securedConnectionDomain > #dnssec-popup-securedLabel,
#dnssec-popup-content-box.securedConnectionDomain > #dnssec-popup-domainLabel,
#dnssec-popup-content-box.securedConnectionDomainInvIPaddr > #dnssec-popup-securedLabel,
#dnssec-popup-content-box.securedConnectionDomainInvIPaddr > #dnssec-popup-domainLabel,
#dnssec-popup-content-box.securedConnectionNoDomain > #dnssec-popup-securedLabel,
#dnssec-popup-content-box.securedConnectionNoDomain > #dnssec-popup-nodomainLabel,
#dnssec-popup-content-box.securedConnectionInvSigDomain > #dnssec-popup-securedLabel,
#dnssec-popup-content-box.securedConnectionInvSigDomain > #dnssec-popup-domainLabel,
#dnssec-popup-content-box.validDomainSignature > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box.validDomainSignature > #dnssec-popup-domainLabel,
#dnssec-popup-content-box.validDomainSignatureInvIPaddr > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box.validDomainSignatureInvIPaddr > #dnssec-popup-domainLabel,
#dnssec-popup-content-box.invalidDomainSignature > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box.invalidDomainSignature > #dnssec-popup-domainLabel,
#dnssec-popup-content-box.invalidDomainSignatureInvIPaddr > #dnssec-popup-unsecuredLabel,
#dnssec-popup-content-box.invalidDomainSignatureInvIPaddr > #dnssec-popup-domainLabel {
  display: inline;
}
